:root {
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan: hsl(186, 14%, 43%);
    --DarkGrayishCyan2: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --LightGrayishCyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --StrongCyan: hsl(172, 67%, 45%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--LightGrayishCyan);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-container,
.bill-container,
.personal-container {
    display: flex;
}

.bill-container,
.personal-container {
    flex-direction: column;
    position: relative;
}

.calc-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

#dollar-sign,
#icon-person {
    position: absolute;
    top: 35px;
    left: 15px;
}

input {
    cursor: pointer;
}

#bill,
#person {
    text-align: right;
    border: none;
    background-color: #F4FAFA;
    padding: 10px 15px;
    border-radius: 5px;
    outline-color: #5daaa2;

}

#bill::placeholder,
#person::placeholder {
    color: #9EBBBD;
    font-weight: bold;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.tipAmount-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 100px));
    gap: 10px;
}

.tipAmount {
    margin: 20px 0;

}

.tipAmount-btns {
    all: unset;
    color: white;
    background-color: var(--VeryDarkCyan);
    text-align: center;
    border-radius: 5px;
    transition: all 0.4s;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

#custom {
    background-color: #F4FAFA;
    color: var(--VeryDarkCyan);
    border-radius: 5px;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    outline-color: #5daaa2;
    border: none;
}

#custom::placeholder {
    color: var(--DarkGrayishCyan2);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.label {
    font-weight: bold;
    color: var(--DarkGrayishCyan);
}

.scond-half {
    background-color: var(--VeryDarkCyan);
    padding: 40px;
    border-radius: 10px;
    color: white;
    width: 420px;
    margin-left: 50px;
}

.first-div,
.second-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result {
    color: var(--StrongCyan);
    font-size: 50px;
    font-weight: bold;
}

#content {
    margin-bottom: 120px;
}

.first-div {
    margin-bottom: 30px;
}

.first-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reset {
    all: unset;
    width: 100%;
    text-align: center;
    background-color: #0d686d;
    flex-direction: column;
    color: var(--VeryDarkCyan);
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.reset:hover {
    background-color: #9fe8df;
}

.tipAmount-btns:hover {
    background-color: #9ce9df;
    color: var(--VeryDarkCyan);
}

#logo {
    position: absolute;
    top: 137px;
}

.checked {
    color: #00494d;
    background-color: #26c0ab;
}

.eror {
    outline-color: #b57b6d;
}

#eror-m {
    color: #b57b6d;
    margin-left: 80px;
    transition: all 0.4s;
    opacity: 0;
}

.label-container {
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .scond-half {
        padding: 20px;
    }

    .calc-container {
        width: 750px;
    }

    #eror-m {
        margin-left: 20px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .container {
        justify-content: unset;
    }

    .calc-container {
        width: 100%;
        flex-direction: column;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        align-items: center;
    }

    .scond-half {
        margin-left: 0;
        padding: 20px;
        width: 330px;
        margin-top: 30px;
    }

    .result {
        font-size: 35px;
    }

    .tipAmount {
        margin: 35px 0;
    }

    #dollar-sign,
    #icon-person {
        top: 45px;
    }

    .tipAmount-container {
        grid-template-columns: repeat(2, 140px);
    }

    .label {
        margin-bottom: 10px;
    }

    #content {
        margin-bottom: 40px;
    }

    #logo {
        position: unset;
        margin: 40px 0;
    }
}

@media (max-height: 800px) {
    #logo {
        position: unset;
        margin: 40px 0;
    }
}

@media (max-width:900px) {
    .calc-container {
        width: 850px;
    }

    #eror-m {
        margin-left: 50px;
        font-size: 14px;
    }
}